.user__name {
  padding: 50px 0;
  text-align: center;
  font-size: 30px;
}

.mypage__container {
  display: flex;
  flex-wrap: wrap;
}

.my__reserve {
  width: 40%;
}

.reserve__ttl {
  font-size: 22px;
  padding-bottom: 30px;
}

.reserve__list {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin-right: 40px;
  padding: 0 5px 5px 0;
}

.reserve__item {
  width: 100%;
  color: #ffffff;
  background-color: #0044ff;
  border-radius: 5px;
  padding: 30px;
  list-style: none;
  box-shadow: 2px 2px 2px 2px #999999;
}

.reserve__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.item--top {
  display: flex;
}

.timer__img {
  width: 30px;
}

.timer__img img {
  width: 100%;
}

.reserve__count {
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 1.5;
  padding-left: 10px;
}

.delete__form {
  margin: 0 0 0 auto;
}

.delete__btn {
  width: 25px;
  height: 25px;
  margin: 0 0 0 auto;
  border: solid 2px #ffffff;
  border-radius: 100px;
  color: #ffffff;
  background-color: #0044ff;
  font-size: 17px;
}

.reserve__item__contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reserve__item__contents dt {
  width: 20%;
  font-size: 17px;
}

.reserve__item__contents dd {
  width: 60%;
  margin-left: 20%;
  font-size: 22px;
}

.update__input {
  width: 100%;
  height: 25px;
}

.reserve__item__contents > * {
  padding: 10px 0;
}

.update__btn {
  display: block;
  width: 150px;
  color: #ffffff;
  background-color: #0811ff;
  border-radius: 5px;
  margin: 15px 0 0 auto;
  padding: 7px 0;
  font-size: 16px;
}

.my__favorite {
  width: 60%;
}

.favorite__ttl {
  font-size: 22px;
  padding-bottom: 30px;
}

.shop__list {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll; 
}

.shop__item {
  list-style: none;
  width: 45%;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #999999;
}

.shop__item__img img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.text__box {
  padding: 15px;
}

.shop__item__ttl {
  padding: 10px 0;
  font-weight: bold;
  font-size: 20px;
}

.hash {
  font-size: 12px;
}

.btn__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail__link {
  width: 100px;
  display: block;
  text-align: center;
  color: #ffffff;
  background-color: #0044ff;
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 10px;
}

.favorite_btn {
  border: none;
  height: auto;
}

.favorite_btn img {
  width: 30px;
}

.review { 
  width: 100%;
  margin-top: 30px;
}

.review__ttl {
  font-size: 22px;
  padding-bottom: 30px;
}

.review__list { 
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 5px;
}

.review__item {
  width: 30%;
  margin-right: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #999999;
}

.stars {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.star {
  color: #eeee00;
  font-size: 40px;
  padding: 0 15px;
}

.comment {
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

.review__btn {
  display: block;
  width: 150px;
  color: #ffffff;
  background-color: #0811ff;
  border-radius: 5px;
  margin: 15px 0 0 auto;
  padding: 7px 0;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .mypage__container {
    display: flex;
    justify-content: space-between;
  }

  .my__reserve  {
    width: 45%;
  }

  .reserve__list {
    width: 100%;
  }

  .reserve__item {
    width: 100%;
  }

  .my__favorite {
    width: 45%;
  }

  .shop__list {
    width: 100%;
  }

  .shop__item {
    width: 100%;
  }

  .stars {
    width: 100%;
    padding: 0;
    margin-bottom: 5px;
  }

  .star {
    font-size: 30px;
    padding: 2px;
  }

  .comment {
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }

  .review__btn {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }
}